section.section-core-values
	-
		var coreValues = [
			{
				title: "Uy tín – Minh bạch",
				subtitle: "“Niềm tin là nền tảng của mọi hợp tác.”",
				desc: "Chúng tôi hành động trung thực, minh bạch và nhất quán trong mọi cam kết"
			},
			{
				title: "Sức khỏe – An toàn – An ninh",
				subtitle: "“An toàn là ưu tiên hàng đầu.”",
				desc: "Chúng tôi bảo vệ con người, tài sản và hoạt động bằng các tiêu chuẩn an toàn cao nhất."
			},
			{
				title: "Chuẩn mực – Đổi mới – Sáng tạo",
				subtitle: "“Chuẩn mực làm gốc, đổi mới làm đòn bẩy.”",
				desc: "Chúng tôi tuân thủ chuẩn mực và không ngừng sáng tạo để tạo khác biệt"
			},
			{
				title: "Kết nối giá trị toàn cầu",
				subtitle: "“Chuẩn mực làm gốc, đổi mới làm đòn bẩy.”",
				desc: "Chúng tôi tuân thủ chuẩn mực và không ngừng sáng tạo để tạo khác biệt"
			},
			{
				title: "Phát triển bền vững",
				subtitle: "“Kết nối để cùng vươn xa.”",
				desc: "Chúng tôi hợp tác và hội nhập nhằm lan tỏa giá trị toàn cầu."
			}
		];
	.wrapper-core-values
		.core-values-header
			h2(data-aos="fade-up") Giá trị cốt lõi
		.core-values-body 
			.core-values-image(data-aos="zoom-in" data-aos-duration="1000")
				include ../../img/core-value.svg
			.core-values-list
				each item, index in coreValues
					.core-values-item(class=`item-${index + 1}` data-aos="fade-left" data-aos-delay=`${index * 80}`)
						h3= item.title
						p.subtitle= item.subtitle
						p.desc= item.desc

		.core-values-mobile
			.one-slider.no-autoplay.core-values-mobile-slider(data-aos="fade-up")
				.swiper
					.swiper-wrapper
						each item in coreValues
							.swiper-slide
								.core-values-item
									.icon
										img(src="../img/mission_icon.svg", alt="")
									.text-content
										h3.title= item.title
										p.subtitle= item.subtitle
										p.desc= item.desc
				.swiper-pagination.mt-6
