section.general-banner
	-
		var bannerSlides = [
			{
				banner_title: "KHU CÔNG NGHIỆP CHUYÊN SÂU PHÚ MỸ 3",
				banner_sub_title: "TRUNG TÂM CHUỖI CUNG ỨNG TOÀN CẦU PHÚ MỸ",
				banner_description: "Hạ tầng tích hợp đa phương thức",
				banner_image: { url: "./img/banner-general-1.jpg", alt: "KCN Chuyên sâu Phú Mỹ 3" },
				banner_thumb: { url: "./img/thumb-general-1.jpg", alt: "Thumb 1" }
			},
			{
				banner_title: "KHU CÔNG NGHIỆP CHUYÊN SÂU PHÚ MỸ 3",
				banner_sub_title: "CẢNG BIỂN QUỐC TẾ CÁI MÉP - THỊ VẢI",
				banner_description: "Kết nối hàng hải đa quốc gia",
				banner_image: { url: "./img/banner-general-2.jpg", alt: "Cảng biển quốc tế Cái Mép" },
				banner_thumb: { url: "./img/thumb-general-2.jpg", alt: "Thumb 2" }
			},
			{
				banner_title: "KHU CÔNG NGHIỆP CHUYÊN SÂU PHÚ MỸ 3",
				banner_sub_title: "KHO NGOẠI QUAN VÀ ICD",
				banner_description: "Dịch vụ logistics tích hợp toàn diện",
				banner_image: { url: "./img/banner-general-3.jpg", alt: "Kho ngoại quan và ICD" },
				banner_thumb: { url: "./img/thumb-general-3.jpg", alt: "Thumb 3" }
			},
			{
				banner_title: "KHU CÔNG NGHIỆP CHUYÊN SÂU PHÚ MỸ 3",
				banner_sub_title: "HẠ TẦNG NĂNG LƯỢNG XANH",
				banner_description: "Môi trường đầu tư bền vững",
				banner_image: { url: "./img/banner-general-4.jpg", alt: "Hạ tầng năng lượng xanh" },
				banner_thumb: { url: "./img/thumb-general-4.jpg", alt: "Thumb 4" }
			},
			{
				banner_title: "KHU CÔNG NGHIỆP CHUYÊN SÂU PHÚ MỸ 3",
				banner_sub_title: "DỊCH VỤ XỬ LÝ NƯỚC THẢI CÔNG NGHIỆP",
				banner_description: "Tiêu chuẩn quốc tế ISO 14001",
				banner_image: { url: "./img/banner-general-5.jpg", alt: "Xử lý nước thải công nghiệp" },
				banner_thumb: { url: "./img/thumb-general-5.jpg", alt: "Thumb 5" }
			}
		]
	.swiper.banner-top
		.swiper-wrapper
			each slide in bannerSlides
				.swiper-slide
					h1.main-title-banner= slide.banner_title
					.image.img-cover
						+img(1920, 780)
					.banner-title
						h2.top-banner-title= slide.banner_sub_title
						h3.bottom-banner-title= slide.banner_description
	.caption
		.swiper-relative.mt-6
			.swiper.banner-thumbs
				.swiper-wrapper
					each slide in bannerSlides
						.swiper-slide
							.image.img-cover
								+img(160, 64)
			.swiper-button
				.button-prev
					i.fa-thin.fa-chevron-left
				.button-next
					i.fa-thin.fa-chevron-right

section.general-nav.full-bleed 
	.container
		ul.nav-list
			li.nav-item.active
				a.nav-link(href="#gioi-thieu") GIỚI THIỆU
			li.nav-item
				a.nav-link(href="#dinh-huong") ĐỊNH HƯỚNG CHIẾN LƯỢC
			li.nav-item
				a.nav-link(href="#tiem-nang") TIỀM NĂNG
			li.nav-item
				a.nav-link(href="#dich-vu") DỊCH VỤ
			li.nav-item
				a.nav-link(href="#chung-chi") CHỨNG CHỈ

section.home-news-feed
	#news-feed.marquee
		a(href="#")
			span Cảng cạn Phú Mỹ không ngừng đa dạng và chuẩn hóa các dịch vụ

		a(href="#")
			span Đưa vào hoạt động cảng cạn Phú Mỹ vốn đầu tư gần 3.000 tỉ đồng

		a(href="#")
			span Cảng cạn Phú Mỹ không ngừng đa dạng và chuẩn hóa các dịch vụ

		a(href="#")
			span Đưa vào hoạt động cảng cạn Phú Mỹ vốn đầu tư gần 3.000 tỉ đồng

		a(href="#")
			span Cảng cạn Phú Mỹ không ngừng đa dạng và chuẩn hóa các dịch vụ

		a(href="#")
			span Đưa vào hoạt động cảng cạn Phú Mỹ vốn đầu tư gần 3.000 tỉ đồng

section.general-intro.section-large.full-bleed#gioi-thieu
	.bg-intro(style="background-image: url('./img/bg-ss2.png')")
	.container
		.intro-header
			.sub-title(data-aos="fade-up") GIỚI THIỆU TRUNG TÂM CHUỖI CUNG ỨNG TOÀN CẦU PHÚ MỸ
			h2.site-title.is-white(data-aos="fade-up" data-aos-delay="100") "Thành công của bạn là thành công của chúng tôi"
			.desc(data-aos="fade-up" data-aos-delay="200")
				p Trung tâm chuỗi cung ứng toàn cầu Phú Mỹ đóng vai trò là đầu mối tập kết và trung chuyển hàng hoá chiến lược của khu vực, mang kỳ vọng tạo ra giá trị cộng hưởng mạnh mẽ nhằm đáp ứng nhu cầu phát triển ngày càng tăng của doanh nghiệp và nhà đầu tư
		.intro-stats
				.home-about-item(data-aos="fade-up" data-aos-delay="0")
					.icon.img-contain
						img(src="./img/icon-1.png", alt="")
					.number
						span.count-up(data-count="999") 0
						span ha
					h3.title Diện tích đất khu công nghiệp
				.home-about-item(data-aos="fade-up" data-aos-delay="100")
					.icon.img-contain
						img(src="./img/icon-1.png", alt="")
					.number
						span.count-up(data-count="38") 0
						span ha
					h3.title Diện tích đất khu công nghiệp
				.home-about-item(data-aos="fade-up" data-aos-delay="200")
					.icon.img-contain
						img(src="./img/icon-1.png", alt="")
					.number
						span.count-up(data-count="38") 0
						span ha
					h3.title Diện tích đất khu công nghiệp

section.general-infrastructure.section-large.full-bleed
	.container
		h2.site-title(data-aos="fade-up") Hạ tầng tích hợp đa phương thức
	.infrastructure-list
		- var infraList = ["CẢNG CẠN PHÚ MỸ", "KHO PHÚ MỸ 3", "KHU BỒN CHỨA HÓA CHẤT", "NHÀ MÁY XỬ LÝ NƯỚC THẢI TẬP TRUNG", "TRẠM CUNG CẤP ĐIỆN", "TRẠM CUNG CẤP KHÍ CÔNG NGHIỆP", "TRẠM CUNG CẤP KHÍ TỰ NHIÊN"]
		
		.desktop-view
			.bg-image-list
				each item, index in infraList
					.bg-item(class=(index === 0 ? 'active' : ''))
						+img(1920, 780)
			.items-wrapper.relative.z-10.flex.w-full.h-full
				each item, index in infraList
					.infrastructure-item
						.text-content
							h3.title= item
							.content-wrap
								ul
									li Tổng diện tích: 46 ha
									li Độ sâu cầu cảng: -7 m
									li Tổng chiều dài bến: 600 m
									li Số lượng cầu bến: 06
									li Khả năng tiếp nhận: Tàu SB & sà lan 4,500 DWT/ 200 TEUs
									
		.mobile-view
			.one-slider.infrastructure-mobile-slider
				.swiper
					.swiper-wrapper
						each item, index in infraList
							.swiper-slide
								.mobile-infra-item
									.bg-image
										+img(800, 600)
									.text-content
										h3.title= item
										.content-wrap
											ul
												li Tổng diện tích: 46 ha
												li Độ sâu cầu cảng: -7 m
												li Tổng chiều dài bến: 600 m
												li Số lượng cầu bến: 06
												li Khả năng tiếp nhận: Tàu SB & sà lan 4,500 DWT/ 200 TEUs
				.swiper-pagination.mt-4

include ./vision_mission.pug
include ./general-core-values.pug
include ./general-location.pug
include ./general-services.pug


section.general-certificates.section-large.full-bleed#chung-chi
	.container-full-bleed
		h2.site-title(data-aos="fade-up") Hệ thống chứng chỉ đạt chuẩn quốc tế
		.five-slider.cert-slider-wrapper(data-aos="fade-up" data-aos-delay="100")
			.swiper
				.swiper-wrapper
					-
						var certs = [
							"Giấy chứng nhận quản lý chất lượng ISO 9001:2015",
							"Giấy chứng nhận quản lý môi trường ISO 14001:2015",
							"Giấy chứng nhận ATVSLĐ ISO 45001:2018",
							"Giấy chứng nhận khí nhà kính ISO 14064",
							"Giấy chứng nhận khí nhà kính ISO 14064",
							"Giấy chứng nhận khí nhà kính ISO 14064",
							"Chứng nhận CTPAT Quan hệ Đối tác Thương mại"
						]
					each cert in certs
						.swiper-slide
							.cert-item
								.image.img-contain
									+img(300, 400)
								.title= cert
			.swiper-button
				.button-prev
					i.fa-regular.fa-chevron-left
				.button-next
					i.fa-regular.fa-chevron-right
